In [1]:
# Given rows with the same street name, house numbers should be in increasing order
def replace_non_increasing(street_group):
    increasing_value = None
    for i in range(len(street_group)):
        if increasing_value is None or street_group.iloc[i]['no_maison'] > increasing_value:
            increasing_value = street_group.iloc[i]['no_maison']
        else:
            # When house numbers decrease, set them to the last increasing house number
            street_group.at[street_group.index[i], 'no_maison'] = increasing_value
    return street_group

def house_number_clean(input_file):
    
    # Read the Excel file
    df = pd.read_excel(input_file)
    
    # Find the total number of rows
    total_rows = len(df)
    
    ### NON-NUMERIC HOUSE NUMBER CLEANING

    # Find the number of non-numeric values in the no_maison column before processing
    non_numeric_rows_before_processing = df['no_maison'].apply(lambda x: not str(x).isnumeric()).sum()

    # Replace all non-numeric values with the previous numeric value above, else set value to NaN
    df['no_maison'] = pd.to_numeric(df['no_maison'], errors='coerce')
    
    # Replace NaN and "·" values with the value above it in the no_maison column
    df['no_maison'].fillna(method='ffill', inplace=True)
    df['no_maison'].replace('·', method='ffill', inplace=True)
    
    ### NON-INCREASING HOUSE NUMBER CLEANING
    
    # Find the number of rows with non-increasing values for the same street name before processing
    non_increasing_rows_before_processing = df.groupby('nom_rue')['no_maison'].diff().lt(0).sum()

    # Invalid house number prefix and suffix handler
    # Invalid prefix example: (12,13,114) instead of (12,13,14) => 114 % 100 = 14
    # Invalid suffix example: (12,13,140) instead of (12,13,14) => 140 // 10 = 14
    last_street_name = None
    for index, row in df.iterrows():
        if pd.isnull(row['no_maison']):
            if(index == 0):
                df.at[index, 'no_maison'] = 1
            else:
                df.at[index, 'no_maison'] = df.at[index - 1, 'no_maison']

        if row['no_maison'] > 100:
            if(index !=0):
                if (df.at[index, 'no_maison'] // 10 >= df.at[index - 1, 'no_maison']):
                    df.at[index, 'no_maison'] = df.at[index, 'no_maison'] // 10 # handles most 1-digit suffixes
                elif(df.at[index, 'no_maison'] % 100 >= df.at[index - 1, 'no_maison']):
                    df.at[index, 'no_maison'] = row['no_maison'] % 100 #handles most 1-digit prefixes
                else:
                    df.at[index, 'no_maison'] = df.at[index - 1, 'no_maison'] #handles all other prefixes and suffixes

    # Find the number of non-numeric values in the no_maison column after processing
    non_numeric_rows = df['no_maison'].isnull().sum()
    
    # Remove all remaining non-increasing house numbers per street
    df = df.groupby('nom_rue').apply(replace_non_increasing).reset_index(drop=True)
            
    # Find the number of rows with non-increasing values in the no_maison column for the same street name
    non_increasing_rows = (df.groupby('nom_rue')['no_maison'].diff() < 0).sum() if 'no_maison' in df else 0

    # print(f"For {input_file} with {total_rows} rows: before processing we had {non_numeric_rows_before_processing} non-numeric values and {non_increasing_rows_before_processing} non-increasing values on the same street, after processing we get {non_numeric_rows} non-numeric values, {non_increasing_rows} non-increasing values on the same street, {non_increasing_rows/total_rows*100:.1f}% bad house numbers remain.")

    # Save the resulting Excel file
    output_file = input_file.replace('.xlsx', '_filtered_numbers.xlsx')
    output_file = output_file.replace('./recensements','./recensements_cleaned')
    df.to_excel(output_file, index=False)

# Example function usage
# input_file = './recensements/1832.xlsx'
# house_number_clean(input_file)

In [2]:
import os
import pandas as pd

value_counts = {}
folder_path = './recensements'
clean_folder_path = './recensements_cleaned'
file_list = [filename for filename in os.listdir(folder_path) if filename.endswith(".xlsx")]
number_of_files = len(file_list)

# Make sure rows have increasing house numbers in all excel files
print("cleaning files")
#remove_folder(clean_folder_path)
for i, filename in enumerate(file_list,start=1):
    print(f"{i} out of {number_of_files} files cleaned")
    file_path = os.path.join(folder_path, filename)
    house_number_clean(file_path)

# Iterate through each file in the folder
for filename in os.listdir(clean_folder_path):
        file_path = os.path.join(clean_folder_path, filename)
        # Read the Excel file
        df = pd.read_excel(file_path)
        
        # Get the second column
        column_values = df.iloc[:, 1]
        # Count the occurrences of each value in the second column
        for value in column_values:
            if value in value_counts:
                value_counts[value] += 1
            else:
                value_counts[value] = 1

# Convert the dictionary to a pandas DataFrame
result_df = pd.DataFrame(list(value_counts.items()), columns=['Value', 'Count'])

# Sort the DataFrame by the 'Count' column in descending order
result_df = result_df.sort_values('Count', ascending=False)

# Values to filter out
values_to_filter = ["pre","martherey","st jean","laurent","de bourg","francois","annee de naissance","pierre","rue du pont","chauerau","chailly","marteray","fre","halle","jn francois","derriere","id id","laurens","grand s jean","grand jean","devant","cheneau","cile de vant","st laurens","et","cile derriere","du marche","patud","francoise","gd st jean","hallede st laurent","haurent","grand fs jean","st laur","d halle","walle","jn jean","grand","paud","frand chene","cite derrier","moulins de pepinet","rue de martheray","cheneau bourg","marthony","marthorey","jennes","grand f jean","salud","de francois","du sont","cuchy","sejan","le pont","duz re","montee de st laurent","marthe","chemin de bourg","place du pont","marthery","f pierre","martherey e","dre","de pierre","la barre","grand fr jean","d etienne","valud","st fran","chavanne","ft pierre","grand sn jean","aisse","cite devriere","id .","luite dri","no de leur recepisse","cile derrier","flaurent","della barre","mererie","halle de laurent","du re","chaucrau .","l walle","marthere","theneau de bourg","e aisse","rue de francois","cete derriere","no des","pennes","marthoray","etienne","marberay","st laurant","cite derric","ctraz","chaucraie","bourge","ste pierre","theneau bourg","halle de s laurt","slaurent","petit gjean","montee de st monte","lite de vans","l hopital","rue du pre","de mercerie","pont","monorier","nerie","no es","monte st laurent","uve","grangeneuve","sdu","dean","ler","luchy","de st laurent","no de","grand sjean","tre","cite dessons","monbe clauron","rapaz","pre du marche","sallaz","grotte","monblesson","halle f laurent so","veuf","marherey","chaueran","st martin","martberty","challes st laurens","chaz","boston","plaurent","de marthenay","cite ederriere","petit - jean","hallede tlaurent","montoie","calaire","halle de f de","palude","laurant","villards","falle de st laurent","ane de bourg","g chene","no de leurs","pelit chene","cite de vans","st francoise","detienne","martherey .","bis"]

# Filtering out specific values
result_df_filtered = result_df[~result_df['Value'].isin(values_to_filter)]

#take top 100
dictionary = result_df_filtered.sort_values('Count', ascending=False)[0:100]

# Save the DataFrame to a CSV file
dictionary.to_csv("dictionary.csv", index=False)

cleaning files
1 out of 23 files cleaned
2 out of 23 files cleaned
3 out of 23 files cleaned
4 out of 23 files cleaned
5 out of 23 files cleaned
6 out of 23 files cleaned
7 out of 23 files cleaned
8 out of 23 files cleaned
9 out of 23 files cleaned
10 out of 23 files cleaned
11 out of 23 files cleaned
12 out of 23 files cleaned
13 out of 23 files cleaned
14 out of 23 files cleaned
15 out of 23 files cleaned
16 out of 23 files cleaned
17 out of 23 files cleaned
18 out of 23 files cleaned
19 out of 23 files cleaned
20 out of 23 files cleaned
21 out of 23 files cleaned
22 out of 23 files cleaned
23 out of 23 files cleaned

In [3]:
from Levenshtein import distance
import difflib

# Create an empty DataFrame to store the final result
final_result = pd.DataFrame(columns=['nom_rue', 'Suggested_Street_Name', 'Levenshtein_Distance'])

# Function to find the closest match from the dictionary
def find_closest_match(word, dictionary, levenshtein_weight=0.5, substring_weight=0.5):
    min_distance = float('inf')
    closest_keyword = None

    for keyword in dictionary['Value']:
        # Calculate normalized Levenshtein distance
        levenshtein_distance = distance(str(word), str(keyword)) / len(keyword)

        # Calculate longest matching substring
        substring_match = difflib.SequenceMatcher(None, str(word), str(keyword)).find_longest_match(0, len(word), 0, len(keyword))
        substring_distance = 1 - substring_match.size / max(len(word), len(keyword))

        # Combine the distances with weights
        combined_distance = levenshtein_weight * levenshtein_distance + substring_weight * substring_distance

        if combined_distance < min_distance:
            min_distance = combined_distance
            closest_keyword = keyword

    return closest_keyword, min_distance

# Iterate through each file in the folder and process street names
for filename in os.listdir(clean_folder_path):
    if filename.endswith(".xlsx"):
        file_path = os.path.join(clean_folder_path, filename)
        df = pd.read_excel(file_path)
        print("we are at " + str(filename))

        # Add columns for closest dictionary street and Levenshtein distance
        df['Suggested_Street_Name'] = ''
        df['Levenshtein_Distance'] = 0

        for index, row in df.iterrows():
            street_name = row['nom_rue']
            if street_name in ("·"):
                if index > 0:  # Check if it's not the first row
                    street_name = df.loc[index - 1, 'nom_rue']
                    if street_name in ("·"):
                        print("Problem with dots is here")
                    # Otherwise, you can update the current row in the DataFrame
                    else:
                        df.loc[index, 'nom_rue'] = street_name
                else:
                    print("Problem with the first row having '·' ")

            closest_keyword, min_distance = find_closest_match(street_name, dictionary)
            df.at[index, 'Suggested_Street_Name'] = closest_keyword
            df.at[index, 'Levenshtein_Distance'] = min_distance

        # Append the required columns to the final result
        df_temp = df[['nom_rue', 'Suggested_Street_Name', 'Levenshtein_Distance']]
        final_result = final_result._append(df_temp, ignore_index=True)

# Sort the DataFrame by the 'Levenshtein_Distance' column
final_result.sort_values('Levenshtein_Distance', inplace=True)

final_result.to_excel("distances.xlsx", index=False)

we are at 1832_filtered_numbers.xlsx
we are at 1835_corrige_filtered_numbers.xlsx
we are at 1836_filtered_numbers.xlsx
we are at 1837_filtered_numbers.xlsx
we are at 1838_filtered_numbers.xlsx
we are at 1839_filtered_numbers.xlsx
we are at 1840_filtered_numbers.xlsx
we are at 1841_filtered_numbers.xlsx
we are at 1842_filtered_numbers.xlsx
we are at 1843_filtered_numbers.xlsx
we are at 1844_filtered_numbers.xlsx
we are at 1845_filtered_numbers.xlsx
we are at 1846_filtered_numbers.xlsx
we are at 1847_filtered_numbers.xlsx
we are at 1848_filtered_numbers.xlsx
we are at 1849_filtered_numbers.xlsx
we are at 1850_filtered_numbers.xlsx
we are at 1851_filtered_numbers.xlsx
we are at 1852_filtered_numbers.xlsx
we are at 1853_filtered_numbers.xlsx
we are at 1854_filtered_numbers.xlsx
we are at 1855_corrige_filtered_numbers.xlsx
we are at 1855_filtered_numbers.xlsx

In [4]:
#"fre" et "tre" deviennent "barre" plutot que "du pre"
final_result.loc[final_result['nom_rue'].isin(['fre', 'tre']), 'Suggested_Street_Name'] = 'du pre'
#"gs jean" devient "jean" plutot que "grand st jean"
final_result.loc[final_result['nom_rue'] == 'gs jean', 'Suggested_Street_Name'] = 'grand st jean'
#"veuve" devient "vennes" plutot que "grange veuve"
final_result.loc[final_result['nom_rue'] == 'veuve', 'Suggested_Street_Name'] = 'grange veuve'
#"chaz" devient "jean" plutot que "etraz"
final_result.loc[final_result['nom_rue'] == 'chaz', 'Suggested_Street_Name'] = 'etraz'
#"pieur" devient "palud" plutot que "st pierre"
final_result.loc[final_result['nom_rue'] == 'pieur', 'Suggested_Street_Name'] = 'st pierre'
#"rue" et "ruc" devient "barre" et "ouchy" mais devraient etre effacés
final_result = final_result[final_result['nom_rue'] != 'rue']
final_result = final_result[final_result['nom_rue'] != 'ruc']
# "boston" doit etre supprimé car il devrait etre mappé à "bosson" pas "bourg" mais bosson apparait pas dans le dictionnaire
final_result = final_result[final_result['nom_rue'] != 'boston']
# "et" et "id id" doit etre supprimé car il ne peut pas etre mappé a un nom de rue
final_result = final_result[final_result['nom_rue'] != 'et']
final_result = final_result[final_result['nom_rue'] != 'id id']

#"grand" devient "jean" mais devrait etre effacé
final_result = final_result[final_result['nom_rue'] != 'grand']
#"veuf" devient "jean" mais devrait etre "grange veuve"
final_result.loc[final_result['nom_rue'] == 'veuf', 'Suggested_Street_Name'] = 'grange veuve'

#"francois" devient "francs" plutot que "st francois"
final_result.loc[final_result['nom_rue'] == 'francois', 'Suggested_Street_Name'] = 'st francois'

#"halle" devient "chally" plutot que "l halle"
final_result.loc[final_result['nom_rue'] == 'halle', 'Suggested_Street_Name'] = 'l halle'

#"vichy" devient "ouchy" mais devrait etre enlevé (s'il n'apparait pas dans le dictionnaire)

final_result.to_excel("distances.xlsx", index=False)

In [5]:
# Print statistics of the number of rows per Levenshtein distance
statistics = final_result['Levenshtein_Distance'].value_counts().sort_index()
print("Top 10 Levenshtein minimum distance row counts")
print(statistics[0:10])

# Calculate and print the number of rows with Levenshtein distance <= 3
num_rows_levenshtein_3 = sum(final_result['Levenshtein_Distance'] <= 3)
print("Number of rows with Levenshtein distance <= 3:", num_rows_levenshtein_3)

# Calculate and print the total number of rows
total_rows = len(final_result)
print("Total number of rows:", total_rows)

# Print statistics of the values and occurrences of each suggested keyword
keyword_statistics = final_result['Suggested_Street_Name'].value_counts()

print("Top 10 suggested keyword values:")
print(keyword_statistics[0:10])

# Find the top 10 suggested street names
top_suggested_street_names = final_result['Suggested_Street_Name'].value_counts().head(10).index.tolist()

# Create a dictionary to store the top 10 original street names for each suggested street name
top_original_street_names = {}

# Iterate through each of the top 10 suggested street names
for suggested_street_name in top_suggested_street_names:
    filtered_data = final_result[final_result['Suggested_Street_Name'] == suggested_street_name]
    original_street_counts = filtered_data['nom_rue'].value_counts()
    top_original_streets = list(original_street_counts.head(3).items())
    top_original_street_names[suggested_street_name] = top_original_streets

# Print the results
for suggested_street_name, top_original_streets in top_original_street_names.items():
    print(f"For the suggested street name '{suggested_street_name}':")
    print("Top 3 original street names and their occurrences:")
    for i, (original_street, occurrences) in enumerate(top_original_streets, start=1):
        print(f"{i}. {original_street}, {occurrences}")
    print("----")

Top 10 Levenshtein minimum distance row counts
Levenshtein_Distance
0.000000    33579
0.052632        4
0.062500       62
0.066667       30
0.076923      204
            ...
1.218182       20
1.291399        1
1.317391       20
1.345652        1
1.450000        1
Name: count, Length: 837, dtype: int64
Number of rows with Levenshtein distance <= 3: 95300
Total number of rows: 95300
Top 10 suggested keyword values:
Suggested_Street_Name
martheray               5178
bourg                   4702
st laurent              4484
du pre                  4274
grand st jean           4119
verdonnet               3542
challe de st laurent    3424
cite derriere           2805
st francois             2675
ouchy                   2490
Name: count, dtype: int64
For the suggested street name 'martheray':
Top 3 original street names and their occurrences:
1. martheray, 1477
2. martherey, 1328
3. marteray, 265
----
For the suggested street name 'bourg':
Top 3 original street names and their occurrences:
1. bourg, 3630
2. de bourg, 789
3. bourge, 56
----
For the suggested street name 'st laurent':
Top 3 original street names and their occurrences:
1. st laurent, 1401
2. laurent, 772
3. laurens, 202
----
For the suggested street name 'du pre':
Top 3 original street names and their occurrences:
1. du pre, 1881
2. pre, 1458
3. fre, 244
----
For the suggested street name 'grand st jean':
Top 3 original street names and their occurrences:
1. grand st jean, 1072
2. st jean, 1032
3. grand s jean, 218
----
For the suggested street name 'verdonnet':
Top 3 original street names and their occurrences:
1. werdonet, 3290
2. verdonnet, 66
3. bourdonnette, 43
----
For the suggested street name 'challe de st laurent':
Top 3 original street names and their occurrences:
1. annee de naissance, 379
2. challe de st laurent, 174
3. hallede st laurent, 119
----
For the suggested street name 'cite derriere':
Top 3 original street names and their occurrences:
1. cite derriere, 404
2. derriere, 209
3. cile derriere, 155
----
For the suggested street name 'st francois':
Top 3 original street names and their occurrences:
1. st francois, 1076
2. francois, 707
3. jn francois, 234
----
For the suggested street name 'ouchy':
Top 3 original street names and their occurrences:
1. ouchy, 2175
2. cuchy, 87
3. luchy, 50
----

In [6]:
# For all files in recensements_cleaned, append Suggested_Street_Name value given the current nom_rue value and the distances.csv mapping if the distance value in distances.csv is <= 3

# Reading the 'final_result' dataframe and dropping duplicates
unique_distances = final_result.drop_duplicates(subset='nom_rue', keep='first')

clean_folder_path = './recensements_cleaned'

# Iterate through each file in the folder and process street names
for filename in os.listdir(clean_folder_path):
    if filename.endswith(".xlsx"):
        file_path = os.path.join(clean_folder_path, filename)
        df = pd.read_excel(file_path)

        # Merge the 'df' dataframe with 'unique_distances' based on the 'nom_rue' column
        merged_df = pd.merge(df, unique_distances, on='nom_rue', how='left')
        
        # Keep only the rows where the 'Levenshtein_Distance' column value is <= 3
        merged_df = merged_df[merged_df['Levenshtein_Distance'] <= 3]
        
        # Save the resulting Excel file
        output_file = file_path.replace('.xlsx', '_merged.xlsx')
        output_file = output_file.replace('./recensements_cleaned', './recensements_merged')
        merged_df.to_excel(output_file, index=False)

In [1]:
import os
import pandas as pd
import numpy as np
from Levenshtein import distance

recensements_merged_path = './recensements_merged'

# Use list comprehension for file reading
file_names = [filename for filename in os.listdir(recensements_merged_path) if filename.endswith(".xlsx") and not filename.startswith("~$")]
dataframes = [pd.read_excel(os.path.join(recensements_merged_path, filename)) for filename in file_names]

# Define the columns for comparison
comparison_columns = ['proprietaire_nom', 'chef_prenom', 'chef_nom', 'chef_annee_naissance', 'epouse_nom', 'epouse_annee_naissance', 'enfants_dans_la_commune_prenom', 'enfants_annee_naissance', 'chef_origine', 'chef_vocation']

# Function for distance calculation
def calculate_distance(row1, row2):
    return np.sum([distance(str(row1[col]), str(row2[col])) for col in comparison_columns])

# Function for matching
def match_rows(args):
    index, row, file_to_match = args
    min_distance = float('inf')
    min_row = None
    for matching_index, matching_row in file_to_match.iterrows():
        distance_sum = calculate_distance(row, matching_row)
        if distance_sum < min_distance:
            min_distance = distance_sum
            min_row = matching_row
    return min_row, min_distance

In [2]:
matches = []


for index, row in dataframes[0].iterrows():
    current_match = []
    total_match_distance = 0
    print("row to match: ",row[['chef_prenom', 'chef_nom','chef_vocation']])
    
    for file_to_match in dataframes[1:]:
        result, file_match_distance = match_rows((index, row, file_to_match))
        #if(distance<non_address_distance_threshold):
        current_match.append(result)
        #print("match appended:", result[['chef_prenom', 'chef_nom','chef_vocation']])
        #print("match distance: ", file_match_distance)
        total_match_distance += file_match_distance
    
    matches.append([current_match,total_match_distance])

#print(matches)
        
# Convert the matches to a list
matches = [[match for match in match_group] for match_group in matches]

# Print the top 10 rows with the most matches
top_matches = sorted(enumerate(matches), key=lambda x: np.sum([calculate_distance(dataframes[0].iloc[x[0]], row) for row in x[1]]))[:10]
for index, match_group in top_matches:
    print(f"Row {index} has matches in the following files:")
    for i, match_row in enumerate(match_group):
        print(f"   {file_names[i]}: {match_row}")

# Print the list of files for each of the top 3 rows with the most matches
for index, match_group in top_matches[:3]:
    print(f"\nTop match for Row {index} is in {len(match_group)} files:")
    for i, match_row in enumerate(match_group):
        print(f"   {file_names[i]}")

row to match:  chef_prenom         jean
chef_nom         forster
chef_vocation    commise
Name: 0, dtype: object
match appended: chef_prenom      sigion
chef_nom         ferber
chef_vocation      sier
Name: 442, dtype: object
match distance:  30
match appended: chef_prenom        fanny
chef_nom         rossier
chef_vocation    modiste
Name: 3067, dtype: object
match distance:  27
match appended: chef_prenom         jean
chef_nom           kraer
chef_vocation    rentier
Name: 1452, dtype: object
match distance:  25
match appended: chef_prenom       jules
chef_nom         dirlam
chef_vocation    commis
Name: 2145, dtype: object
match distance:  26
match appended: chef_prenom       jean
chef_nom         kraer
chef_vocation        ·
Name: 647, dtype: object
match distance:  28
match appended: chef_prenom           jean
chef_nom         thuillard
chef_vocation     vigneron
Name: 385, dtype: object
match distance:  29
match appended: chef_prenom         jean
chef_nom           hofer
chef_vocation    id asso
Name: 2125, dtype: object
match distance:  26
match appended: chef_prenom       fritz
chef_nom         brandt
chef_vocation    commis
Name: 2994, dtype: object
match distance:  27
match appended: chef_prenom         jean
chef_nom          hoffer
chef_vocation    ouvrier
Name: 3358, dtype: object
match distance:  28
match appended: chef_prenom        jenni
chef_nom         fritder
chef_vocation    lingere
Name: 1261, dtype: object
match distance:  27
match appended: chef_prenom         jean
chef_nom         forater
chef_vocation    calflue
Name: 730, dtype: object
match distance:  22
match appended: chef_prenom          jean
chef_nom           loppel
chef_vocation    plantier
Name: 1513, dtype: object
match distance:  26
match appended: chef_prenom        fanny
chef_nom           buger
chef_vocation    modiste
Name: 665, dtype: object
match distance:  26
match appended: chef_prenom        jules
chef_nom         donvers
chef_vocation     commis
Name: 1091, dtype: object
match distance:  27
match appended: chef_prenom        jean
chef_nom         roulet
chef_vocation    natier
Name: 3877, dtype: object
match distance:  27
match appended: chef_prenom         jean
chef_nom           buner
chef_vocation    peintre
Name: 3977, dtype: object
match distance:  26
match appended: chef_prenom      jean ls
chef_nom            mery
chef_vocation    charren
Name: 396, dtype: object
match distance:  28
match appended: chef_prenom        jean
chef_nom         bryner
chef_vocation    pentre
Name: 1744, dtype: object
match distance:  25
match appended: chef_prenom          jenny
chef_nom         lecastels
chef_vocation      rentier
Name: 280, dtype: object
match distance:  29
match appended: chef_prenom        jean
chef_nom          byner
chef_vocation    cintre
Name: 4118, dtype: object
match distance:  25
match appended: chef_prenom         jean
chef_nom          bruner
chef_vocation    peintre
Name: 3857, dtype: object
match distance:  25
match appended: chef_prenom        jean
chef_nom         bryner
chef_vocation         ·
Name: 3557, dtype: object
match distance:  26
row to match:  chef_prenom            louis
chef_nom         trambagielo
chef_vocation     couturiere
Name: 1, dtype: object
match appended: chef_prenom           louis
chef_nom            regamay
chef_vocation    journalier
Name: 202, dtype: object
match distance:  38
match appended: chef_prenom            louis
chef_nom          trambagiol
chef_vocation    dograisseur
Name: 2524, dtype: object
match distance:  27
match appended: chef_prenom        louis
chef_nom          gaudin
chef_vocation    sellier
Name: 2240, dtype: object
match distance:  40
match appended: chef_prenom            louis
chef_nom         trgmbagislo
chef_vocation    degraisseur
Name: 2488, dtype: object
match distance:  26
match appended: chef_prenom           louis
chef_nom         frambagiol
chef_vocation    cordonnier
Name: 2823, dtype: object
match distance:  23
match appended: chef_prenom           louis
chef_nom         rombagiolo
chef_vocation    legraissem
Name: 2548, dtype: object
match distance:  26
match appended: chef_prenom       bonedich
chef_nom          grilliet
chef_vocation    fontinier
Name: 1489, dtype: object
match distance:  37
match appended: chef_prenom           jean
chef_nom             vogel
chef_vocation    fordinier
Name: 4026, dtype: object
match distance:  36
match appended: chef_prenom            louis
chef_nom         prambayiols
chef_vocation    progrieteur
Name: 2262, dtype: object
match distance:  26
match appended: chef_prenom             louis
chef_nom         trambagieloy
chef_vocation      degrusseur
Name: 2604, dtype: object
match distance:  23
match appended: chef_prenom      louis|louis
chef_nom         prambagiele
chef_vocation     poraisseur
Name: 2736, dtype: object
match distance:  30
match appended: chef_prenom           louis
chef_nom           magnenat
chef_vocation    charcutier
Name: 624, dtype: object
match distance:  40
match appended: chef_prenom        louis
chef_nom         kessler
chef_vocation    dellier
Name: 343, dtype: object
match distance:  39
match appended: chef_prenom        louis
chef_nom         ressler
chef_vocation    sellier
Name: 220, dtype: object
match distance:  38
match appended: chef_prenom           louis
chef_nom            droguet
chef_vocation    domestique
Name: 747, dtype: object
match distance:  39
match appended: chef_prenom           felix
chef_nom           taillens
chef_vocation    journalier
Name: 390, dtype: object
match distance:  36
match appended: chef_prenom          louise
chef_nom           bonnette
chef_vocation    couturiere
Name: 1148, dtype: object
match distance:  38
match appended: chef_prenom           louis
chef_nom            ornoung
chef_vocation    cordonnier
Name: 607, dtype: object
match distance:  37
match appended: chef_prenom      vve de louis
chef_nom           crambagiod
chef_vocation      cinturiere
Name: 4159, dtype: object
match distance:  37
match appended: chef_prenom         louis
chef_nom         kesseler
chef_vocation     sellier
Name: 280, dtype: object
match distance:  39
match appended: chef_prenom          louis
chef_nom           kessler
chef_vocation    carossier
Name: 1620, dtype: object
match distance:  38
match appended: chef_prenom          louis
chef_nom           ressler
chef_vocation    duilliers
Name: 327, dtype: object
match distance:  38
row to match:  chef_prenom      phelibert
chef_nom            beriot
chef_vocation     herleger
Name: 2, dtype: object
match appended: chef_prenom      jean francois
chef_nom               marsens
chef_vocation        jardinier
Name: 237, dtype: object
match distance:  36
match appended: chef_prenom          philippe
chef_nom               bersot
chef_vocation    pontitutrice
Name: 308, dtype: object
match distance:  25
match appended: chef_prenom        charles
chef_nom           reymond
chef_vocation    employera
Name: 2020, dtype: object
match distance:  31
match appended: chef_prenom      philibert
chef_nom          degalier
chef_vocation     vigneron
Name: 3777, dtype: object
match distance:  28
match appended: chef_prenom        charles
chef_nom            savary
chef_vocation    tomnelier
Name: 1704, dtype: object
match distance:  32
match appended: chef_prenom       ·|henri
chef_nom           borand
chef_vocation    muissier
Name: 53, dtype: object
match distance:  33
match appended: chef_prenom      chilibert
chef_nom          degalier
chef_vocation     vigneron
Name: 3743, dtype: object
match distance:  29
match appended: chef_prenom         peve
chef_nom             der
chef_vocation    rentier
Name: 333, dtype: object
match distance:  32
match appended: chef_prenom          jean
chef_nom           epring
chef_vocation    tailleur
Name: 2672, dtype: object
match distance:  31
match appended: chef_prenom       jeannet
chef_nom         alberton
chef_vocation     rentier
Name: 4097, dtype: object
match distance:  28
match appended: chef_prenom      aphondet
chef_nom           hiffer
chef_vocation     pefepir
Name: 829, dtype: object
match distance:  32
match appended: chef_prenom       adolphe
chef_nom          reymond
chef_vocation    horloger
Name: 113, dtype: object
match distance:  30

match appended: chef_prenom          jean
chef_nom           epring
chef_vocation    tailleur
Name: 2323, dtype: object
match distance:  31
match appended: chef_prenom       adolphe
chef_nom          reymond
chef_vocation    horloger
Name: 3804, dtype: object
match distance:  30
match appended: chef_prenom          jean
chef_nom           foring
chef_vocation    tailleur
Name: 1503, dtype: object
match distance:  31
match appended: chef_prenom            julid
chef_nom                 rod
chef_vocation    charpentier
Name: 684, dtype: object
match distance:  29
match appended: chef_prenom       louise
chef_nom          herrog
chef_vocation    regente
Name: 2447, dtype: object
match distance:  32
match appended: chef_prenom          henri
chef_nom            bonnet
chef_vocation    manoeuvre
Name: 1420, dtype: object
match distance:  33
match appended: chef_prenom         elisbel
chef_nom              blanc
chef_vocation    journalier
Name: 462, dtype: object
match distance:  32
match appended: chef_prenom         henry
chef_nom           giroud
chef_vocation    horloger
Name: 4246, dtype: object
match distance:  31
match appended: chef_prenom      adelaide
chef_nom           morand
chef_vocation    cafetier
Name: 1563, dtype: object
match distance:  30
match appended: chef_prenom      louise
chef_nom         herrog
chef_vocation         ·
Name: 2699, dtype: object
match distance:  34
row to match:  chef_prenom                  jean william
chef_nom                            denis
chef_vocation    puntaire a|la commissins
Name: 3, dtype: object
match appended: chef_prenom      jean louis
chef_nom              lapaz
chef_vocation       pintier
Name: 349, dtype: object
match distance:  54
match appended: chef_prenom                      villiam
chef_nom                           denis
chef_vocation    inspecteur|de la maison
Name: 2129, dtype: object
match distance:  49
match appended: chef_prenom         villiam
chef_nom              denis
chef_vocation    inspecteur
Name: 2347, dtype: object
match distance:  42
match appended: chef_prenom      jean louis
chef_nom              blanc
chef_vocation         macon
Name: 1586, dtype: object
match distance:  56
match appended: chef_prenom      jean samuel
chef_nom                yret
chef_vocation    charpentier
Name: 3664, dtype: object
match distance:  56
match appended: chef_prenom      jean francs
chef_nom               pache
chef_vocation          macon
Name: 703, dtype: object
match distance:  55
match appended: chef_prenom      isaac
chef_nom           bns
chef_vocation    poirt
Name: 2196, dtype: object
match distance:  54
match appended: chef_prenom                     jean
chef_nom                      hoever
chef_vocation    tailleur|aubergiste
Name: 457, dtype: object
match distance:  53
match appended: chef_prenom      jean louis
chef_nom             berney
chef_vocation    charcutier
Name: 2104, dtype: object
match distance:  52
match appended: chef_prenom      jean daniel
chef_nom            joliquin
chef_vocation    charpentier
Name: 3940, dtype: object
match distance:  56
match appended: chef_prenom      jean francois
chef_nom                 pache
chef_vocation      maron|macon
Name: 832, dtype: object
match distance:  53
match appended: chef_prenom      jean daniel
chef_nom            joliquin
chef_vocation         pentre
Name: 2004, dtype: object
match distance:  56
match appended: chef_prenom       viscin
chef_nom          odenis
chef_vocation    rentier
Name: 1523, dtype: object
match distance:  51
match appended: chef_prenom      william
chef_nom           demis
chef_vocation       ager
Name: 3532, dtype: object
match distance:  52
match appended: chef_prenom      jean isaac
chef_nom              blanc
chef_vocation    vde de ber
Name: 2185, dtype: object
match distance:  54
match appended: chef_prenom                  daniel
chef_nom                   henrioud
chef_vocation    porteur de chaises
Name: 3264, dtype: object
match distance:  58
match appended: chef_prenom      jean pierre
chef_nom              cordey
chef_vocation     corvonnier
Name: 587, dtype: object
match distance:  52
match appended: chef_prenom      jean pierre
chef_nom              cordey
chef_vocation     cordonnier
Name: 3568, dtype: object
match distance:  53
match appended: chef_prenom           william
chef_nom                denis
chef_vocation    proprietaire
Name: 2211, dtype: object
match distance:  35
match appended: chef_prenom           william
chef_nom         mathey|denis
chef_vocation    proprietaire
Name: 2136, dtype: object
match distance:  51
match appended: chef_prenom           william
chef_nom                denis
chef_vocation    proprietaire
Name: 2820, dtype: object
match distance:  47
match appended: chef_prenom            david
chef_nom               henny
chef_vocation    agriculteur
Name: 511, dtype: object
match distance:  57
row to match:  chef_prenom      jean francois
chef_nom                dusont
chef_vocation        vocturier
Name: 4, dtype: object
match appended: chef_prenom      jean francois
chef_nom               marsens
chef_vocation        jardinier
Name: 237, dtype: object
match distance:  40
match appended: chef_prenom      jean francois
chef_nom                muller
chef_vocation         bucheron
Name: 2987, dtype: object
match distance:  32
match appended: chef_prenom      jean francois
chef_nom              gonthier
chef_vocation         luistier
Name: 2508, dtype: object
match distance:  34
match appended: chef_prenom      jean francois
chef_nom                 belet
chef_vocation       journalier
Name: 1755, dtype: object
match distance:  34
match appended: chef_prenom      jean francois
chef_nom             gillieron
chef_vocation        serrurier
Name: 3778, dtype: object
match distance:  37
match appended: chef_prenom      jean francais
chef_nom               huguely
chef_vocation      journaliere
Name: 1367, dtype: object
match distance:  31
match appended: chef_prenom      jean francois
chef_nom                muller
chef_vocation         bucheron
Name: 3010, dtype: object
match distance:  34
match appended: chef_prenom      jean louis
chef_nom               looz
chef_vocation     voiturier
Name: 231, dtype: object
match distance:  36
match appended: chef_prenom         francois
chef_nom               giron
chef_vocation    cultivateur
Name: 360, dtype: object
match distance:  38
match appended: chef_prenom      jean francois
chef_nom              visinant
chef_vocation          fermier
Name: 4112, dtype: object
match distance:  37
match appended: chef_prenom      jean francois
chef_nom                  gued
chef_vocation        boulanger
Name: 1803, dtype: object
match distance:  39
match appended: chef_prenom      jean francois
chef_nom               balomey
chef_vocation          liciter
Name: 715, dtype: object
match distance:  33
match appended: chef_prenom      jean francois
chef_nom               olivier
chef_vocation         armurier
Name: 154, dtype: object
match distance:  37
match appended: chef_prenom      george francois
chef_nom                  hertel
chef_vocation          sorrurier
Name: 2461, dtype: object
match distance:  36
match appended: chef_prenom       francois
chef_nom           calliet
chef_vocation    vorturier
Name: 45, dtype: object
match distance:  37
match appended: chef_prenom      jean francois
chef_nom                 comte
chef_vocation         tailleur
Name: 2065, dtype: object
match distance:  36
match appended: chef_prenom      jean francois
chef_nom               jaquier
chef_vocation          rentier
Name: 4107, dtype: object
match distance:  35
match appended: chef_prenom      jean francois
chef_nom                kabler
chef_vocation       journalier
Name: 2008, dtype: object
match distance:  35
match appended: chef_prenom      jean louis
chef_nom             cramer
chef_vocation       rentier
Name: 2726, dtype: object
match distance:  35
match appended: chef_prenom      jean francois
chef_nom                chavan
chef_vocation       journalier
Name: 229, dtype: object
match distance:  35
match appended: chef_prenom      jean francois
chef_nom                chavan
chef_vocation        jomnalier
Name: 352, dtype: object
match distance:  37

match appended: chef_prenom      jean francois
chef_nom                chavan
chef_vocation                ·
Name: 714, dtype: object
match distance:  37
row to match:  chef_prenom        benoite
chef_nom              rung
chef_vocation    parfemeur
Name: 5, dtype: object
match appended: chef_prenom       justin
chef_nom           andra
chef_vocation    rentier
Name: 470, dtype: object
match distance:  65
match appended: chef_prenom         henri
chef_nom            bally
chef_vocation    tourneur
Name: 1726, dtype: object
match distance:  60
match appended: chef_prenom         henry
chef_nom           corbaz
chef_vocation    vigneron
Name: 2544, dtype: object
match distance:  59
match appended: chef_prenom        samuel
chef_nom         seillens
chef_vocation     sirpier
Name: 3680, dtype: object
match distance:  57
match appended: chef_prenom      victor henri
chef_nom             farandoz
chef_vocation        tailleur
Name: 322, dtype: object
match distance:  61
match appended: chef_prenom           elie
chef_nom            renaud
chef_vocation    patissier
Name: 1185, dtype: object
match distance:  62
match appended: chef_prenom       henri
chef_nom           roch
chef_vocation    larron
Name: 1220, dtype: object
match distance:  58
match appended: chef_prenom         elie
chef_nom          renaud
chef_vocation    rentier
Name: 200, dtype: object
match distance:  56
match appended: chef_prenom      sitoestre
chef_nom             rosso
chef_vocation     marchand
Name: 3817, dtype: object
match distance:  60
match appended: chef_prenom        henri
chef_nom          rouffy
chef_vocation    formier
Name: 161, dtype: object
match distance:  57
match appended: chef_prenom         henri
chef_nom         chappuis
chef_vocation    juillier
Name: 155, dtype: object
match distance:  59
match appended: chef_prenom      auguste
chef_nom           conod
chef_vocation         et
Name: 372, dtype: object
match distance:  62
match appended: chef_prenom          tessar
chef_nom          dufournet
chef_vocation    professeur
Name: 1464, dtype: object
match distance:  60
match appended: chef_prenom           cesar
chef_nom          dufournet
chef_vocation    professeur
Name: 3352, dtype: object
match distance:  61
match appended: chef_prenom       jn daniel
chef_nom             mignet
chef_vocation    journalier
Name: 751, dtype: object
match distance:  66
match appended: chef_prenom      francois
chef_nom            henny
chef_vocation     fermier
Name: 4046, dtype: object
match distance:  59
match appended: chef_prenom           henry
chef_nom           marchand
chef_vocation    meurierier
Name: 469, dtype: object
match distance:  61
match appended: chef_prenom       auguste
chef_nom           aubert
chef_vocation    horloger
Name: 1383, dtype: object
match distance:  60
match appended: chef_prenom       jn louis
chef_nom               rod
chef_vocation    manoeuvre
Name: 1812, dtype: object
match distance:  60
match appended: chef_prenom          louis
chef_nom          flukiger
chef_vocation    boulanger
Name: 3585, dtype: object
match distance:  61
match appended: chef_prenom          jules
chef_nom             krieg
chef_vocation    menuisier
Name: 2279, dtype: object
match distance:  61
match appended: chef_prenom      francois
chef_nom            rapin
chef_vocation     payerne
Name: 3534, dtype: object
match distance:  62
row to match:  chef_prenom             louise
chef_nom              geinhard
chef_vocation    pentilutriere
Name: 6, dtype: object
match appended: chef_prenom            jost
chef_nom                her
chef_vocation    cordonnier
Name: 490, dtype: object
match distance:  47
match appended: chef_prenom          moise
chef_nom           michoud
chef_vocation    menuisier
Name: 1791, dtype: object
match distance:  42
match appended: chef_prenom      louise veuve
chef_nom              reynard
chef_vocation    institutrice
Name: 218, dtype: object
match distance:  39
match appended: chef_prenom      louise veuve
chef_nom              reynard
chef_vocation    institutrice
Name: 236, dtype: object
match distance:  40
match appended: chef_prenom      louise veuve
chef_nom              reynard
chef_vocation        rentiere
Name: 342, dtype: object
match distance:  45
match appended: chef_prenom         louise
chef_nom         oboussier
chef_vocation     rentiere
Name: 1069, dtype: object
match distance:  43
match appended: chef_prenom            louise
chef_nom              reynard
chef_vocation    institutrice
Name: 267, dtype: object
match distance:  39
match appended: chef_prenom          moise
chef_nom           michoud
chef_vocation    menuisier
Name: 2117, dtype: object
match distance:  42
match appended: chef_prenom         moyse
chef_nom          michoud
chef_vocation    memisier
Name: 3082, dtype: object
match distance:  44
match appended: chef_prenom        louise
chef_nom         guignaig
chef_vocation     toiscie
Name: 320, dtype: object
match distance:  45
match appended: chef_prenom          moise
chef_nom           michoud
chef_vocation    menuisier
Name: 85, dtype: object
match distance:  43
match appended: chef_prenom      caroline
chef_nom           durand
chef_vocation    rentiere
Name: 4274, dtype: object
match distance:  45
match appended: chef_prenom       louise
chef_nom           begaz
chef_vocation    rentier
Name: 3124, dtype: object
match distance:  43
match appended: chef_prenom          moise
chef_nom           michaud
chef_vocation    menuisier
Name: 521, dtype: object
match distance:  42
match appended: chef_prenom          louis
chef_nom          guignard
chef_vocation    coiturier
Name: 626, dtype: object
match distance:  44
match appended: chef_prenom          moise
chef_nom           michoud
chef_vocation    henuisier
Name: 2583, dtype: object
match distance:  45
match appended: chef_prenom           louis
chef_nom           guignard
chef_vocation    veitrurier
Name: 956, dtype: object
match distance:  43
match appended: chef_prenom            louis
chef_nom            guignard
chef_vocation    instituteur
Name: 983, dtype: object
match distance:  45
match appended: chef_prenom         veuve
chef_nom           mennet
chef_vocation    rentiere
Name: 3244, dtype: object
match distance:  42
match appended: chef_prenom         veuve
chef_nom           mennet
chef_vocation    rentiere
Name: 3503, dtype: object
match distance:  44
match appended: chef_prenom           louis
chef_nom           guignard
chef_vocation    charretier
Name: 159, dtype: object
match distance:  47
match appended: chef_prenom          louis
chef_nom            perret
chef_vocation    essertine
Name: 1857, dtype: object
match distance:  51
row to match:  chef_prenom      clauve francoise
chef_nom                demailles
chef_vocation              marche
Name: 7, dtype: object
match appended: chef_prenom      jean francois
chef_nom               marsens
chef_vocation        jardinier
Name: 237, dtype: object
match distance:  34
match appended: chef_prenom      jacob francois
chef_nom                 vivian
chef_vocation           rentier
Name: 2395, dtype: object
match distance:  31
match appended: chef_prenom      aime francois
chef_nom                barraz
chef_vocation          jaurand
Name: 2158, dtype: object
match distance:  29
match appended: chef_prenom        louis
chef_nom         grenier
chef_vocation      march
Name: 1106, dtype: object
match distance:  32
match appended: chef_prenom      francois
chef_nom           mathey
chef_vocation      pentre
Name: 1476, dtype: object
match distance:  34
match appended: chef_prenom      jaques francoise
chef_nom                   bellet
chef_vocation           svocation
Name: 3818, dtype: object
match distance:  30
match appended: chef_prenom      jeanne francoise
chef_nom                   wuller
chef_vocation             lingere
Name: 1528, dtype: object
match distance:  33
match appended: chef_prenom      pierre francois
chef_nom                   delet
chef_vocation         journalier
Name: 3263, dtype: object
match distance:  32
match appended: chef_prenom      marc francs
chef_nom              levrat
chef_vocation              ·
Name: 1875, dtype: object
match distance:  34

match appended: chef_prenom        francois
chef_nom         delapierre
chef_vocation          mauz
Name: 1125, dtype: object
match distance:  33
match appended: chef_prenom      francoise
chef_nom            dantan
chef_vocation       marche
Name: 1473, dtype: object
match distance:  31
match appended: chef_prenom      veuve francoise
chef_nom                   bovet
chef_vocation              entre
Name: 3342, dtype: object
match distance:  32
match appended: chef_prenom      francoise
chef_nom            dentan
chef_vocation    marchande
Name: 1571, dtype: object
match distance:  34
match appended: chef_prenom      alexandrine
chef_nom            dessalle
chef_vocation      marchande
Name: 1958, dtype: object
match distance:  33
match appended: chef_prenom      jn francoise
chef_nom              jaumine
chef_vocation         talione
Name: 2772, dtype: object
match distance:  33
match appended: chef_prenom      veuve marianne
chef_nom                 pettet
chef_vocation         blanchiss
Name: 48, dtype: object
match distance:  34
match appended: chef_prenom       francois
chef_nom         dessierre
chef_vocation         rogt
Name: 147, dtype: object
match distance:  36
match appended: chef_prenom       christe
chef_nom         lehmanne
chef_vocation     rentier
Name: 3601, dtype: object
match distance:  34
match appended: chef_prenom      jean francois
chef_nom              amandeux
chef_vocation                ·
Name: 3775, dtype: object
match distance:  34
match appended: chef_prenom      jne francoise
chef_nom              schicler
chef_vocation         bordouse
Name: 1598, dtype: object
match distance:  35
match appended: chef_prenom      jean f louis
chef_nom               cassat
chef_vocation           macon
Name: 70, dtype: object
match distance:  35
match appended: chef_prenom      jne francoise
chef_nom               schuler
chef_vocation           zurich
Name: 1373, dtype: object
match distance:  33
row to match:  chef_prenom       benjamin
chef_nom          blanchet
chef_vocation    confiseur
Name: 8, dtype: object
match appended: chef_prenom      jean louise
chef_nom            lavanchy
chef_vocation       tailliur
Name: 88, dtype: object
match distance:  26
match appended: chef_prenom         veuve
chef_nom         dubochet
chef_vocation    rentiere
Name: 3808, dtype: object
match distance:  20
match appended: chef_prenom       benjamin
chef_nom          blanchet
chef_vocation    congiseur
Name: 219, dtype: object
match distance:  16
match appended: chef_prenom       benjamin
chef_nom          blanchet
chef_vocation    confiseur
Name: 237, dtype: object
match distance:  15
match appended: chef_prenom      jean francois
chef_nom                rochat
chef_vocation         gondanme
Name: 3987, dtype: object
match distance:  21
match appended: chef_prenom      jeannette
chef_nom            bonnet
chef_vocation    tailleuse
Name: 2624, dtype: object
match distance:  21
match appended: chef_prenom      ganchere
chef_nom           bellet
chef_vocation     rogeuse
Name: 2737, dtype: object
match distance:  19
match appended: chef_prenom      benjamin
chef_nom          lambert
chef_vocation     pecheur
Name: 2953, dtype: object
match distance:  14
match appended: chef_prenom      benjamin a
chef_nom            lamberl
chef_vocation       pecheur
Name: 2421, dtype: object
match distance:  17
match appended: chef_prenom      benjamin
chef_nom          lambert
chef_vocation     pocheur
Name: 2778, dtype: object
match distance:  13
match appended: chef_prenom        henri
chef_nom          perrot
chef_vocation    rentier
Name: 19, dtype: object
match distance:  18
match appended: chef_prenom      david
chef_nom         blanc
chef_vocation      eur
Name: 213, dtype: object
match distance:  17
match appended: chef_prenom      henriette
chef_nom             schel
chef_vocation     rentiere
Name: 3199, dtype: object
match distance:  19
match appended: chef_prenom          marie
chef_nom         braissant
chef_vocation      poelier
Name: 2847, dtype: object
match distance:  19
match appended: chef_prenom       henri
chef_nom           hany
chef_vocation    commis
Name: 1448, dtype: object
match distance:  17
match appended: chef_prenom          rodb
chef_nom         blanchet
chef_vocation     rentier
Name: 3645, dtype: object
match distance:  18
match appended: chef_prenom        henri
chef_nom          rosset
chef_vocation    rentier
Name: 368, dtype: object
match distance:  20
match appended: chef_prenom       jean
chef_nom         pache
chef_vocation        ·
Name: 2962, dtype: object
match distance:  19
match appended: chef_prenom         marie
chef_nom           verley
chef_vocation    rentiere
Name: 3222, dtype: object
match distance:  20
match appended: chef_prenom         louis
chef_nom            pache
chef_vocation    horloger
Name: 3872, dtype: object
match distance:  19
match appended: chef_prenom         louis
chef_nom                e
chef_vocation    rentiere
Name: 4476, dtype: object
match distance:  22
match appended: chef_prenom       henri
chef_nom         becker
chef_vocation    glaris
Name: 2276, dtype: object
match distance:  19
row to match:  chef_prenom      elisabeth
chef_nom          blanchet
chef_vocation            ·
Name: 9, dtype: object
match appended: chef_prenom         emile
chef_nom         secrelan
chef_vocation           ·
Name: 447, dtype: object
match distance:  33
match appended: chef_prenom      veuve d abram
chef_nom              blanchet
chef_vocation                ·
Name: 3921, dtype: object
match distance:  24
match appended: chef_prenom       d abram
chef_nom         blanchet
chef_vocation    rentiere
Name: 1332, dtype: object
match distance:  16
match appended: chef_prenom      ab samuel
chef_nom           pauquer
chef_vocation            ·
Name: 1261, dtype: object
match distance:  26
match appended: chef_prenom      elisabeth
chef_nom             pache
chef_vocation            ·
Name: 1678, dtype: object
match distance:  25
match appended: chef_prenom         veuve
chef_nom         blanchet
chef_vocation    rentiere
Name: 203, dtype: object
match distance:  29
match appended: chef_prenom      veuve
chef_nom         briod
chef_vocation        ·
Name: 1629, dtype: object
match distance:  27
match appended: chef_prenom         abram
chef_nom         decastel
chef_vocation           ·
Name: 2254, dtype: object
match distance:  28
match appended: chef_prenom      veuve
chef_nom         briod
chef_vocation        ·
Name: 1465, dtype: object
match distance:  27
match appended: chef_prenom            veuve
chef_nom         blanche noe
chef_vocation              ·
Name: 347, dtype: object
match distance:  26
match appended: chef_prenom         veuve
chef_nom         blanchet
chef_vocation    rentiere
Name: 329, dtype: object
match distance:  21
match appended: chef_prenom      henriette
chef_nom            brelaz
chef_vocation            ·
Name: 1841, dtype: object
match distance:  25
match appended: chef_prenom         veuve
chef_nom         blanchet
chef_vocation       march
Name: 329, dtype: object
match distance:  16
match appended: chef_prenom         veuve
chef_nom         blanchet
chef_vocation    rentiere
Name: 3481, dtype: object
match distance:  18
match appended: chef_prenom         veuve
chef_nom         blanchet
chef_vocation    rentiere
Name: 3551, dtype: object
match distance:  18
match appended: chef_prenom         veuve
chef_nom         blanchot
chef_vocation    rentiere
Name: 256, dtype: object
match distance:  19
match appended: chef_prenom      fouchette ver
chef_nom              dizerens
chef_vocation                ·
Name: 2336, dtype: object
match distance:  28
match appended: chef_prenom        veuve
chef_nom         blanche
chef_vocation      point
Name: 1421, dtype: object
match distance:  22
match appended: chef_prenom        veuve
chef_nom         blanche
chef_vocation      point
Name: 3374, dtype: object
match distance:  22
match appended: chef_prenom        marie
chef_nom         ecoffey
chef_vocation          ·
Name: 769, dtype: object
match distance:  24
match appended: chef_prenom      henriette
chef_nom          dezerens
chef_vocation            ·
Name: 936, dtype: object
match distance:  30

match appended: chef_prenom      vvede|pisse fs
chef_nom              marguerat
chef_vocation                 ·
Name: 2142, dtype: object
match distance:  24
row to match:  chef_prenom      charlotte
chef_nom          blanchet
chef_vocation            ·
Name: 10, dtype: object
match appended: chef_prenom       rosette
chef_nom         audibert
chef_vocation        piss
Name: 358, dtype: object
match distance:  22
match appended: chef_prenom      charlotte
chef_nom             carly
chef_vocation            ·
Name: 2250, dtype: object
match distance:  14
match appended: chef_prenom      isaline
chef_nom         meystre
chef_vocation          ·
Name: 165, dtype: object
match distance:  14
match appended: chef_prenom      charles
chef_nom               ·
chef_vocation          ·
Name: 1422, dtype: object
match distance:  13
match appended: chef_prenom      henriette
chef_nom             renou
chef_vocation            ·
Name: 3133, dtype: object
match distance:  13
match appended: chef_prenom           marie
chef_nom         braithaupt
chef_vocation             ·
Name: 3231, dtype: object
match distance:  13
match appended: chef_prenom      charles
chef_nom           meyer
chef_vocation          ·
Name: 3688, dtype: object
match distance:  12
match appended: chef_prenom      charlotte
chef_nom                 ·
chef_vocation            ·
Name: 2392, dtype: object
match distance:  9
match appended: chef_prenom      henriette
chef_nom                 ·
chef_vocation            ·
Name: 485, dtype: object
match distance:  14
match appended: chef_prenom      charlotte
chef_nom                 ·
chef_vocation            ·
Name: 424, dtype: object
match distance:  9
match appended: chef_prenom      charlotte
chef_nom            wehrli
chef_vocation            ·
Name: 345, dtype: object
match distance:  9
match appended: chef_prenom      charlotte
chef_nom           grenier
chef_vocation            ·
Name: 3316, dtype: object
match distance:  9
match appended: chef_prenom      francois
chef_nom          pache .
chef_vocation           ·
Name: 3486, dtype: object
match distance:  12
match appended: chef_prenom      henriette
chef_nom            jannin
chef_vocation            ·
Name: 606, dtype: object
match distance:  12
match appended: chef_prenom      charles
chef_nom           rouge
chef_vocation          ·
Name: 479, dtype: object
match distance:  13
match appended: chef_prenom      henriette
chef_nom           porchet
chef_vocation            ·
Name: 2435, dtype: object
match distance:  11
match appended: chef_prenom       marie
chef_nom         no des
chef_vocation         ·
Name: 1653, dtype: object
match distance:  13
match appended: chef_prenom      charlette
chef_nom            corbaz
chef_vocation            ·
Name: 369, dtype: object
match distance:  10
match appended: chef_prenom      henriette
chef_nom            jannin
chef_vocation            ·
Name: 469, dtype: object
match distance:  12
match appended: chef_prenom      charlotte
chef_nom                 ·
chef_vocation            ·
Name: 582, dtype: object
match distance:  9
match appended: chef_prenom      susette
chef_nom            bohy
chef_vocation          ·
Name: 3136, dtype: object
match distance:  13
match appended: chef_prenom      charlotte
chef_nom                 ·
chef_vocation            ·
Name: 791, dtype: object
match distance:  9
row to match:  chef_prenom           sulonne
chef_nom              piccard
chef_vocation    julie marche
Name: 11, dtype: object
match appended: chef_prenom           louis
chef_nom            regamay
chef_vocation    journalier
Name: 202, dtype: object
match distance:  43
match appended: chef_prenom        salomon
chef_nom            piuard
chef_vocation    voiturier
Name: 311, dtype: object
match distance:  36
match appended: chef_prenom      salomon
chef_nom          liuard
chef_vocation    gociant
Name: 220, dtype: object
match distance:  26
match appended: chef_prenom         susanne
chef_nom             nicole
chef_vocation    sage femme
Name: 228, dtype: object
match distance:  39
match appended: chef_prenom           salomon
chef_nom              giccard
chef_vocation    institutrice
Name: 341, dtype: object
match distance:  29
match appended: chef_prenom        susanne
chef_nom           jaccard
chef_vocation    marchande
Name: 3371, dtype: object
match distance:  37
match appended: chef_prenom         henri
chef_nom         murisier
chef_vocation    marchand
Name: 1255, dtype: object
match distance:  39
match appended: chef_prenom      salomon
chef_nom         liccard
chef_vocation    gociant
Name: 454, dtype: object
match distance:  21
match appended: chef_prenom       jean
chef_nom          eych
chef_vocation    march
Name: 1676, dtype: object
match distance:  39
match appended: chef_prenom      salomon
chef_nom         gircaud
chef_vocation    gotiant
Name: 264, dtype: object
match distance:  31
match appended: chef_prenom      jalamon
chef_nom         giccard
chef_vocation        got
Name: 330, dtype: object
match distance:  36
match appended: chef_prenom          susanne
chef_nom               pache
chef_vocation    journaliere
Name: 3717, dtype: object
match distance:  38
match appended: chef_prenom      jalomon
chef_nom         piccard
chef_vocation          ·
Name: 330, dtype: object
match distance:  33
match appended: chef_prenom         jalomon
chef_nom            piccard
chef_vocation    morchermez
Name: 193, dtype: object
match distance:  37
match appended: chef_prenom         jalomon
chef_nom             piuard
chef_vocation    de magarin
Name: 217, dtype: object
match distance:  34
match appended: chef_prenom       pierre
chef_nom         saccard
chef_vocation    marlien
Name: 1535, dtype: object
match distance:  38
match appended: chef_prenom        louis
chef_nom          ottier
chef_vocation    rentier
Name: 1841, dtype: object
match distance:  38
match appended: chef_prenom        louis
chef_nom         cottier
chef_vocation    rentier
Name: 666, dtype: object
match distance:  39
match appended: chef_prenom         jean
chef_nom         pillard
chef_vocation      macon
Name: 2137, dtype: object
match distance:  39
match appended: chef_prenom      ricolas
chef_nom          bideau
chef_vocation    meniste
Name: 357, dtype: object
match distance:  40
match appended: chef_prenom          fanny
chef_nom          guignard
chef_vocation    marchande
Name: 4324, dtype: object
match distance:  39
match appended: chef_prenom        louis
chef_nom         milloud
chef_vocation          ·
Name: 3707, dtype: object
match distance:  41
row to match:  chef_prenom      jean isaac
chef_nom             collet
chef_vocation      ermarchd
Name: 12, dtype: object
match appended: chef_prenom      jean louise
chef_nom            lavanchy
chef_vocation       tailliur
Name: 88, dtype: object
match distance:  28
match appended: chef_prenom        maselaine
chef_nom              follet
chef_vocation    journaliere
Name: 2325, dtype: object
match distance:  20
match appended: chef_prenom         jean fs
chef_nom              golaz
chef_vocation    journalier
Name: 2215, dtype: object
match distance:  23
match appended: chef_prenom      henriette
chef_nom           chollet
chef_vocation       marchs
Name: 1196, dtype: object
match distance:  19
match appended: chef_prenom        louise
chef_nom         contesse
chef_vocation     marches
Name: 1274, dtype: object
match distance:  23
match appended: chef_prenom      jean isaac
chef_nom                lin
chef_vocation             ·
Name: 936, dtype: object
match distance:  24
match appended: chef_prenom      jean isaac
chef_nom                lin
chef_vocation    journalier
Name: 368, dtype: object
match distance:  18
match appended: chef_prenom      jean jaques
chef_nom               alder
chef_vocation        gociant
Name: 3673, dtype: object
match distance:  22
match appended: chef_prenom      jean fud
chef_nom           commis
chef_vocation    gondarme
Name: 2222, dtype: object
match distance:  21
match appended: chef_prenom      frederiche
chef_nom              gelaz
chef_vocation        marche
Name: 3349, dtype: object
match distance:  22
match appended: chef_prenom      francoise
chef_nom            dantan
chef_vocation       marche
Name: 1473, dtype: object
match distance:  21

match appended: chef_prenom      jean louis
chef_nom             corsat
chef_vocation        idmier
Name: 1943, dtype: object
match distance:  21
match appended: chef_prenom      jean samuel
chef_nom              deprez
chef_vocation       tionnier
Name: 3318, dtype: object
match distance:  22
match appended: chef_prenom      jean jaques
chef_nom               alder
chef_vocation            rex
Name: 1555, dtype: object
match distance:  21
match appended: chef_prenom      jean isaac
chef_nom                lin
chef_vocation         jennr
Name: 1149, dtype: object
match distance:  17
match appended: chef_prenom      jean marc
chef_nom            olivet
chef_vocation     tailleur
Name: 2813, dtype: object
match distance:  20
match appended: chef_prenom      jean justin
chef_nom               rosat
chef_vocation      jemnelier
Name: 3047, dtype: object
match distance:  21
match appended: chef_prenom      jean justin
chef_nom              corsat
chef_vocation              ·
Name: 744, dtype: object
match distance:  20
match appended: chef_prenom      jeanne susanne
chef_nom                 robert
chef_vocation           reutine
Name: 1014, dtype: object
match distance:  24
match appended: chef_prenom      jean justin
chef_nom              corsat
chef_vocation     journalier
Name: 652, dtype: object
match distance:  20
match appended: chef_prenom      jean jaqs
chef_nom             alder
chef_vocation    negociant
Name: 4232, dtype: object
match distance:  20
match appended: chef_prenom      jean justin
chef_nom              corsat
chef_vocation              ·
Name: 1313, dtype: object
match distance:  20
row to match:  chef_prenom      longchamp henry benjamin
chef_nom                        longchamp
chef_vocation                  estruiteur
Name: 13, dtype: object
match appended: chef_prenom        moise
chef_nom            baud
chef_vocation    rentier
Name: 330, dtype: object
match distance:  54
match appended: chef_prenom      henriette
chef_nom            pirsch
chef_vocation     tailleur
Name: 808, dtype: object
match distance:  49
match appended: chef_prenom          henri
chef_nom           vincent
chef_vocation    imprimeur
Name: 308, dtype: object
match distance:  48
match appended: chef_prenom      charles henri
chef_nom                rochat
chef_vocation       journalier
Name: 1928, dtype: object
match distance:  48
match appended: chef_prenom      jean abram
chef_nom            delisle
chef_vocation       sellier
Name: 2602, dtype: object
match distance:  51
match appended: chef_prenom            jn henry
chef_nom                 konnaz
chef_vocation    vendeur de vir
Name: 956, dtype: object
match distance:  50
match appended: chef_prenom      charles henri
chef_nom                rochat
chef_vocation         lournier
Name: 812, dtype: object
match distance:  47
match appended: chef_prenom      charles henri
chef_nom                  happ
chef_vocation        menuisier
Name: 93, dtype: object
match distance:  50
match appended: chef_prenom           davida
chef_nom           ponchamps
chef_vocation    agriculteur
Name: 392, dtype: object
match distance:  44
match appended: chef_prenom      jean francois
chef_nom              visinant
chef_vocation          fermier
Name: 4112, dtype: object
match distance:  48
match appended: chef_prenom          david
chef_nom         lonchamps
chef_vocation     vigneron
Name: 2227, dtype: object
match distance:  48
match appended: chef_prenom       charlest
chef_nom         vullyamoz
chef_vocation     traiteur
Name: 369, dtype: object
match distance:  52
match appended: chef_prenom       jean abram
chef_nom              rochat
chef_vocation    charpentier
Name: 1400, dtype: object
match distance:  50
match appended: chef_prenom      veuve d henri
chef_nom               carrard
chef_vocation         rentiere
Name: 1634, dtype: object
match distance:  49
match appended: chef_prenom           henri
chef_nom          longchamp
chef_vocation    e paraphiy
Name: 3555, dtype: object
match distance:  51
match appended: chef_prenom      jean louis
chef_nom          lengchamp
chef_vocation      vigneron
Name: 2192, dtype: object
match distance:  50
match appended: chef_prenom      jean samuel
chef_nom              renaud
chef_vocation       coiffeur
Name: 3933, dtype: object
match distance:  51
match appended: chef_prenom      jean samuel
chef_nom              renaud
chef_vocation           feix
Name: 3994, dtype: object
match distance:  52
match appended: chef_prenom      henry benjamin
chef_nom               fauchlne
chef_vocation       instituteur
Name: 2735, dtype: object
match distance:  49
match appended: chef_prenom      jean david
chef_nom              blanc
chef_vocation      tailleur
Name: 3745, dtype: object
match distance:  52
match appended: chef_prenom      rodolphe elie
chef_nom                bonnet
chef_vocation      ?commission
Name: 1298, dtype: object
match distance:  53
match appended: chef_prenom      rodolphe elie
chef_nom                bonnet
chef_vocation           renent
Name: 47, dtype: object
match distance:  51
row to match:  chef_prenom          henry
chef_nom         longchamp
chef_vocation     truiteur
Name: 14, dtype: object
match appended: chef_prenom          henri
chef_nom         longchamp
chef_vocation       aiteur
Name: 49, dtype: object
match distance:  40
match appended: chef_prenom          henry
chef_nom         rougemant
chef_vocation     charliet
Name: 617, dtype: object
match distance:  40
match appended: chef_prenom                   henry
chef_nom                  longchamp
chef_vocation    arch de vin braite
Name: 224, dtype: object
match distance:  35
match appended: chef_prenom         desire
chef_nom            bonnin
chef_vocation    corroyeur
Name: 2002, dtype: object
match distance:  36
match appended: chef_prenom          henry
chef_nom         longchamp
chef_vocation     tailleur
Name: 346, dtype: object
match distance:  31
match appended: chef_prenom       henry
chef_nom         barbaz
chef_vocation     macon
Name: 954, dtype: object
match distance:  38
match appended: chef_prenom        louard
chef_nom         decordon
chef_vocation    grentier
Name: 1550, dtype: object
match distance:  38
match appended: chef_prenom         henri
chef_nom          ringger
chef_vocation    courreur
Name: 797, dtype: object
match distance:  35
match appended: chef_prenom          henri
chef_nom         longchamp
chef_vocation     cafetier
Name: 260, dtype: object
match distance:  35
match appended: chef_prenom          julie
chef_nom             ogier
chef_vocation    imprimeur
Name: 2589, dtype: object
match distance:  34
match appended: chef_prenom            henri
chef_nom         longchamp .
chef_vocation         letier
Name: 333, dtype: object
match distance:  32
match appended: chef_prenom           veuve
chef_nom         lemmermann
chef_vocation       tissier
Name: 392, dtype: object
match distance:  39
match appended: chef_prenom          elie
chef_nom            oziez
chef_vocation    tanimeur
Name: 3860, dtype: object
match distance:  31
match appended: chef_prenom       veuve
chef_nom         piolet
chef_vocation     point
Name: 1947, dtype: object
match distance:  40
match appended: chef_prenom         veule
chef_nom           hollet
chef_vocation    lirgiere
Name: 2055, dtype: object
match distance:  39
match appended: chef_prenom        henri
chef_nom         richard
chef_vocation      pente
Name: 729, dtype: object
match distance:  41
match appended: chef_prenom        louis
chef_nom         derardo
chef_vocation      macon
Name: 1665, dtype: object
match distance:  38
match appended: chef_prenom        henry
chef_nom           pache
chef_vocation    feumier
Name: 2456, dtype: object
match distance:  41
match appended: chef_prenom           marc
chef_nom           campard
chef_vocation    menuisier
Name: 3737, dtype: object
match distance:  38
match appended: chef_prenom           henri
chef_nom              alame
chef_vocation    parpenteur
Name: 1396, dtype: object
match distance:  38
match appended: chef_prenom          david
chef_nom          blanchot
chef_vocation    confiseur
Name: 1603, dtype: object
match distance:  40
match appended: chef_prenom       donas
chef_nom         chavan
chef_vocation         ·
Name: 4511, dtype: object
match distance:  43
row to match:  chef_prenom          goie
chef_nom         fontanne
chef_vocation    marchand
Name: 15, dtype: object
match appended: chef_prenom             rose
chef_nom              dupraz
chef_vocation    journaliere
Name: 348, dtype: object
match distance:  38

match appended: chef_prenom       francois
chef_nom             papon
chef_vocation    marchande
Name: 3083, dtype: object
match distance:  37
match appended: chef_prenom         louis
chef_nom          huprack
chef_vocation    marechal
Name: 3604, dtype: object
match distance:  37
match appended: chef_prenom         veuve
chef_nom           durand
chef_vocation    rentiere
Name: 563, dtype: object
match distance:  34
match appended: chef_prenom         isaac
chef_nom         gonthier
chef_vocation    marchand
Name: 2103, dtype: object
match distance:  36
match appended: chef_prenom      jeannette
chef_nom           ziegler
chef_vocation     marchand
Name: 3594, dtype: object
match distance:  38
match appended: chef_prenom      marie mord
chef_nom             fancon
chef_vocation     marchande
Name: 1351, dtype: object
match distance:  37
match appended: chef_prenom         veuve
chef_nom            piund
chef_vocation    laitiere
Name: 3047, dtype: object
match distance:  39
match appended: chef_prenom      louis a at
chef_nom              blanc
chef_vocation             ·
Name: 3175, dtype: object
match distance:  36
match appended: chef_prenom      jacob
chef_nom         henny
chef_vocation    macon
Name: 3265, dtype: object
match distance:  37
match appended: chef_prenom      veuve de bins
chef_nom                dunand
chef_vocation        marchande
Name: 2513, dtype: object
match distance:  36
match appended: chef_prenom        georges
chef_nom          desvaude
chef_vocation    confiseur
Name: 3902, dtype: object
match distance:  36
match appended: chef_prenom         louise
chef_nom          comlesse
chef_vocation    marchande
Name: 2271, dtype: object
match distance:  37
match appended: chef_prenom         louise
chef_nom          contesse
chef_vocation    marchande
Name: 3128, dtype: object
match distance:  32
match appended: chef_prenom          jean
chef_nom          luthold
chef_vocation    marchand
Name: 3237, dtype: object
match distance:  36
match appended: chef_prenom            veuve
chef_nom          pafontaine
chef_vocation    journaliere
Name: 3674, dtype: object
match distance:  35
match appended: chef_prenom         louis
chef_nom           dentan
chef_vocation    marchand
Name: 3232, dtype: object
match distance:  37
match appended: chef_prenom          veuve
chef_nom           meystre
chef_vocation    marchande
Name: 2502, dtype: object
match distance:  35
match appended: chef_prenom      henri
chef_nom         favre
chef_vocation        ·
Name: 3828, dtype: object
match distance:  35
match appended: chef_prenom       jonathan
chef_nom            gaudin
chef_vocation    manoeuvre
Name: 2311, dtype: object
match distance:  38
match appended: chef_prenom        louis
chef_nom         ?eonevy
chef_vocation          ·
Name: 4463, dtype: object
match distance:  38
match appended: chef_prenom       georges
chef_nom          desvaud
chef_vocation    lausanne
Name: 2714, dtype: object
match distance:  33
row to match:  chef_prenom            audre
chef_nom              loewer
chef_vocation    ferblantier
Name: 16, dtype: object
match appended: chef_prenom             ·
chef_nom            robin
chef_vocation    marchand
Name: 123, dtype: object
match distance:  43
match appended: chef_prenom      edouard
chef_nom         revedon
chef_vocation    rentier
Name: 1345, dtype: object
match distance:  40
match appended: chef_prenom          henri
chef_nom            moinat
chef_vocation    menuisier
Name: 1027, dtype: object
match distance:  39
match appended: chef_prenom        marie
chef_nom           rouge
chef_vocation    lancher
Name: 1003, dtype: object
match distance:  40
match appended: chef_prenom           paul
chef_nom         charriere
chef_vocation      rentier
Name: 394, dtype: object
match distance:  40
match appended: chef_prenom         veuve
chef_nom           robert
chef_vocation    rentiere
Name: 1116, dtype: object
match distance:  38
match appended: chef_prenom       charles
chef_nom            laver
chef_vocation    tailleur
Name: 256, dtype: object
match distance:  39